<a href="https://colab.research.google.com/github/Simu96/Natural-Language-Processing/blob/main/Natural_language_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Pandas 이용 간단한 자연어 처리

In [ ]:
import pandas as pd

In [ ]:
# Series 이용
sr = pd.Series([1, 2, 3],
               index = ["A", "B", "C"])

#value 출력
print(sr.values)
#인덱스 출력
print(sr.index)
#전체 출력
print(sr)

[1 2 3]
Index(['A', 'B', 'C'], dtype='object')
A    1
B    2
C    3
dtype: int64

In [ ]:
#데이터프레임, 2차원 리스트를 매개변수로 전달
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#행방향 인덱스
index = ['one', 'two', 'three']
#열방향 인덱스
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index=index, columns=columns)

#행 인덱스 출력
print(df.index)
#열 인덱스 출력
print(df.columns)
#value 출력
print(df.values)
#전체 출력
print(df)

Index(['one', 'two', 'three'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
[[1 2 3]
 [4 5 6]
 [7 8 9]]
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

In [ ]:
#리스트로 데이터프레임 생성
data = [
    ['1000', 'Steve', 90.72], 
    ['1001', 'James', 78.09], 
    ['1002', 'Doyeon', 98.43], 
    ['1003', 'Jane', 64.19], 
    ['1004', 'Pilwoong', 81.30],
    ['1005', 'Tony', 99.14],
]
df = pd.DataFrame(data)
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [ ]:
#생성된 데이터프레임에서 열 지정
df = pd.DataFrame(data, columns=['학번', '이름', '점수'])
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [ ]:
# 딕셔너리로 데이터프레임 생성
data = { '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
'이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
         '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]}

df = pd.DataFrame(data)
print(df)

#특정 데이터 조회
print(df.head(3))
print(df.tail(3))
print(df['학번'])

# 2. Pandas를 이용해 외부 CSV 파일 읽어오기 및 데이터프레임 생성

In [ ]:
#파일 업로드(현재 browser session에서만 유효하다.)
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Naver_KDCA_Column.csv to Naver_KDCA_Column.csv
User uploaded file "Naver_KDCA_Column.csv" with length 1208838 bytes

In [ ]:
#업로드 파일 확인
!ls

Naver_KDCA_Column.csv  sample_data

In [ ]:
#구글 드라이브 연동(영구적)
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
#csv파일 디렉토리 이동
%cd /content/drive/My Drive/AI journalism

/content/drive/My Drive/AI journalism

In [ ]:
#디렉토리 확인
!ls

Naver_KDCA_Column.csv  samsungHospital.csv

In [ ]:
#csv파일 읽어오기
import pandas as pd
df = pd.read_csv('Naver_KDCA_Column.csv')
print(df)

# 3. Pandas 프로파일링

In [ ]:
#프로파일링 패키지 설치
!pip install -U pandas-profiling

In [1]:
#csv파일을 데이터에 저장
import pandas as pd
import pandas_profiling
data = pd.read_csv('Naver_KDCA_Column.csv')

In [ ]:
#10개 행 출력
data[:10]

In [4]:
#프로파일링 결과 리포트 저장
pr = data.profile_report()
#해당 부분 오류시 런타임 재실행

In [ ]:
#프로파일링 결과 리포트를 html형식으로 저장
#pr.to_file('./pr_report.html')

#리포트 출력
pr